/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.footer {
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #0e2747;
    text-align: center;
    color: white;
}

.navbar {
    position: relative;
    background-color: #0e2747; 
}